.button {
    background-color: rgb(255, 154, 171); 
    border:none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
    width: 300px;
    height: 50px;
    margin-top: 40px;
}

button:disabled {
    background-color: black;
}

.button:hover {
    background-color: rgb(82, 185, 185);
    cursor: pointer;
}

button:disabled:hover{
    background-color: black;
    cursor:auto;
}