@import url('https://fonts.googleapis.com/css?family=Epilogue&display=swap');

body {
  margin: 0;
  font-family: 'Epilogue', sans-serif;
  background-color: #1DB954;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  position: relative;
  font-weight: 700;
}

h1 {
  font-size: 46px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 0.5rem; }

.header {
  padding: 32px;
}
